.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
}
button {
  padding: 0.6rem 1rem;
  background: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
}
.artigo {
  background-color: #f3f3f3;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
}
